<h1><%= @user.username %>'s page</h1>
  
  <h2><%= @user.username %></h2>
    <img src=<%= @user.profile_image %> class ="icon_image">
  <h3>プロフィール</h3>
    <%= @user.email %>
  <p>id:<%= @user.id %></p>
  


