<div class="jumbotron">
<h1>プロフィール詳細設定</h1>

  <%= form_with model: current_user, url:mypages_path , method: :patch, local: true do |f| %>
    <div>
    <%= f.label :role, "職業" %>
    <%= f.text_field :role %>
    </div>
    <div>
    <%= f.label :description, "自己紹介" %>
    <%= f.text_area :description, size: "40x10" %>
    </div>
    <div>
    <%= f.submit "設定" %>
  </div>
    <% end %>
  </div>