<div class="jumbotron"> 
  <div class="text-center"> 
    <h2>編集</h2>
    <%= form_with model: @post, local: true do |form| %>
      <div>
        <p><%= form.label :title, "タイトル" %></p>
        <%= form.text_field :title %>
      </div>
      <div class="main_content_field ">
        <p><%= form.label :content, "内容" %></p>
        <%= form.text_area :content %>
      </div>
      <div class="cat_content">
      <%= form.label :category_id, "カテゴリー" %>
      <%= form.collection_select :category_id,Category.all, :id, :name, { prompt: '選択してください' }, class: 'form-control' %>
      </div>
      <div>
        <%= form.label :画像 %><br />
        <%= form.file_field :image, class: "image" %>
      </div>
      <div>
        <p><%= form.submit "送信" %></p>
      </div>  
    <% end %>
  </div>
</div>