<div> 
<div class="post_title">
  <h1 class="new_post">新規投稿</h1>
</div>
  <%= form_with model: @post, local: true do |form| %>
    <div>
      <%= form.label :title, "タイトル" %>
      <%= form.text_field :title %>
    </div>
    <div class="main_content_field">
      <%= form.label :content, "内容" %>
      <%= form.text_area :content, size: "40x10" %>
    </div>
    <div class="cat_content">
      <%= form.label :category_id, "カテゴリー" %>
      <%= form.collection_select :category_id,Category.all, :id, :name, { prompt: '選択してください' }, class: 'form-control' %>
    </div>
    <div>
    <%= form.label :画像 %><br />
    <%= form.file_field :image, class: "image" %>
    </div>
    <div class="submit_form">
      <%= form.submit "送信" %>
    </div>
  <% end %>
</div>